* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/imagem/cs2-fundo.png);
    background-size: auto;
    background-position: top;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body a{
    margin-top: 24px;
}

header .container h1{
    padding: 24px;
    font-family: "Candal", sans-serif;
    text-align: center;
    font-size: 50px;
}

footer h2 {
    padding: 16px;
    font-family: "Candal", sans-serif;
    text-align: center;
    font-size: 25px;
}

.card a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Candal", sans-serif;
}

.container-card {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.card {
    padding: 10px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.03);
}

.card img {
    width: 500px;
    height: 400px;
}

a {
    text-decoration: none;
    font-size: 24px;
    font-family: "Candal", sans-serif;
    color: black;
}

.footer .footer-icons a{
    margin: 24px;
    transition:color 0.1s ease-in-out;
    transition: 0.3s;
}

.footer-icons{
    transition: 0.3s;
}

.footer-icons a{
    transform: scale(1.03);
}

.footer-icons a.icone-instagram:hover {
    color: rgb(220, 46, 243);
}

.footer-icons a.icone-facebook:hover {
    color: rgb(46, 115, 243);
}

.footer-icons a.icone-youtube:hover {
    color: rgb(255, 69, 69);
}

.icon-home{
    align-items: center;
    display: flex;
    font-size: 20px;
}